$backgroundimage: url("https://st.depositphotos.com/1032463/1373/i/950/depositphotos_13732950-stock-photo-background-of-old-vintage-newspapers.jpg");

body {
    background-image: $backgroundimage;
}
.form {
    flex-wrap: wrap;
    flex-direction: column;
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 0px 25px 25px 25px;
    padding: 40px;
    
    
}
  
  .title {
    padding: 10px;
  }

  .subject {
    padding: 10px;
  }

  .article {
    padding: 10px;
  }
.button {
    padding: 10px;
    color: rgb(19, 10, 10);
    
}

.button:hover {
  background-color: rgb(69, 69, 71);
  color: rgb(226, 221, 221);
}
.message {
  height: 100px;
}
.contact {
    text-align: center;
    color: rgb(250, 246, 246);
    font-size: 300%;
    background-color: rgb(12, 11, 11);
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}