.news{

  box-shadow: 0 4px 8px 0 rgba(142, 40, 189, 0.2);
    transition: 1s;
    display:flex;
    width: 90%;
    padding: 20px;
    flex-direction: row;
  }
  
  
  .news:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.9);
  }
  
  
  .container {
    width: 80%;
    padding: 2px 16px 0px;
    background-color: aliceblue;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    
  }
  .link{
      padding: 10px;
      background: rgba(1, 1, 1, 0.447);
      color: rgb(243, 243, 252);
      width: 80px;
      border-radius: 10px;
      text-decoration: none;
      margin-bottom: 10px;
      cursor: pointer;
      
      
  }
  